.user-card {
    border: solid 1px #000000;
    width: 45%;
    box-shadow: 12px 22px 42px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 12px 22px 42px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 12px 22px 42px 1px rgba(0, 0, 0, 0.75);
}
